/*Setting the all structure for overall page*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Readex Pro', sans-serif;
}
body
{
    background-color:white
}

.header{
    background-color: black;
    color: white;
    font-size: 14px;
    width: 30%;
    text-align: center;
    width: 40%;
    
    margin: auto;
    
    
}
#centre{
    text-align: center
}
#text{
    padding-left: 20px;
    padding-right: 20px;
}


.img{
    width: 60px;
    margin-left: 15px;
    
}
#margin{
     margin-left: 10px;
}

.a{
    background-color:gainsboro;
    color: black;
    text-align: center
     
}


.end{
    background-color: black;
    color: white;
 
}


.inline{
    display: inline;
   margin: 100px;
    width: 30px;
        
}

.nav-links
{
    
        text-align:center;
}
.nav-links ul li {
    /*Displaying the inline element in terms of block*/
    /*Inline only takes up as much width of its content*/
    display: inline-block;
    /*Creating padding spaces in top and right*/
    padding: 8px 12px;
    position: relative;
}
/*changing the colours for anchor tag for our navigation bar*/
.nav-links ul li a{
    color: black;
    text-decoration=none;
    font-size:16px;
}
